<div id = "bodyContent">	
	<div class="noPostBannerHeading">
		I am <a class="sacramento" style="color:#2aa198">Nicholas Roberts</a>, 
		and this is my <b class="sacramento" style="color:#2aa198">portfolio</b> site.
		
	</div>
	
	<div class="noPostContentView">
		<br />
		Why don't you take a look around<i>?</i>
		<br />
		Click <a href="/projects.html" class="aLinkSacramento">Next</a> (to your right) to check out some of my projects<i>!</i> 
		<!--
			<br/>
			While you're here, why don't you check out some of the delicious food stuff in the 
			<a href="/kitchen.html" class="aLinkSacramento" >Kitchen</a><i>?</i>
		-->
		<br/>
		Or... 
		<br/>
		&#8593; &#8593; &#8595; &#8595; &#8592; &#8594; &#8592; &#8594; &#9399; &#9398; &#8617;


	</div>
</div>