{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {%
endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>

  <span class="author_job">
    <!--{{ author.job }}-->
    Ph.D. Candidate
  </span>
  <span class="author_bio mbm">
    <a href="https://www.cs.wisc.edu">Department of Computer Sciences</a>
    <br />
    <a href="https://www.wisc.edu">University of Wisconsin-Madison</a>
    <br />
    Advisor:
    <a href="https://pages.cs.wisc.edu/~fredsala/">Frederic Sala</a>
    <!--{{ author.bio }}-->
  </span>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/assets/nicholas_roberts_CV.pdf">CV</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="https://scholar.google.com/citations?user=6NFzfAgAAAAJ&hl=en">Google Scholar</a>
        <!-- <span>/</span> -->
      </li>
      <!--
      <li class="nav-item">
        <a href="/#about">about</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="/#publications">publications</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="/#education">education</a>
        <span>/</span>
      </li>
      <br/>
      <li class="nav-item">
        <a href="/#experience">experience</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="/assets/nicholas-roberts-resume.pdf">resume</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="/assets/nicholas_roberts_CV.pdf">vitae</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="/#contact">contact</a>
      </li>
      -->
    </ul>
  </nav>
  {% include social-links.html %}
</div>
