<div id="socialIconContainer">
					
	<a class="socialIconLinks" href="https://github.com/nick11roberts" alt="GitHub">
		<img class="socialIconImgs" id="socialIconImgsGitHub" src="/images/socialIcons/2AA198/github.png"/>
	</a>
	
	<a class="socialIconLinks" href="https://twitter.com/NikolaiRoberts" alt="Twitter">
		<img class="socialIconImgs" id="socialIconImgsTwitter" src="/images/socialIcons/2AA198/twitter.png"/>
	</a>
	
	<a class="socialIconLinks" href="https://plus.google.com/u/0/116517599404058403172/posts" alt="Google+">
		<img class="socialIconImgs" id="socialIconImgsGooglePlus" src="/images/socialIcons/2AA198/googlePlus.png"/>
	</a>
	
	<a class="socialIconLinks" href="https://play.google.com/store/apps/developer?id=Nicholas+Roberts" alt="Google Play">
		<img class="socialIconImgs" id="socialIconImgsAndroid" src="/images/socialIcons/2AA198/android.png"/>
	</a>
	
	<a class="socialIconLinks" href="#" alt="HTML5 Valid"> <!-- url for validator -->
		<img class="socialIconImgs" id="socialIconImgsHtml" src="/images/socialIcons/2AA198/html5.png"/>
	</a>
	
	<a class="socialIconLinks" href="#" alt="CSS3 Valid"> <!-- url for validator -->
		<img class="socialIconImgs" id="socialIconImgsCss" src="/images/socialIcons/2AA198/css3.png"/>
	</a>
	
</div>