* {
	margin: 0px;
	padding: 0px;
	line-height:250%
}


p{
	padding-left:50px;
	text-align: justify;
}


.buttons{
	position:absolute;
	width:30px;
	padding:25px;
	margin-right:10px;
}




.buttonImgs{
	min-height:15px;
	max-height:40px;
	opacity: 0.40;
    filter: alpha(opacity=40); /* For IE8 and earlier */   
}

.buttonImgs:hover{
	opacity: .9;
    filter: alpha(opacity=90); /* For IE8 and earlier */   
}

#button1{
	
}

#button2{
	margin-left:200px;
}

#button3{
	margin-left:400px;
}





#logoContainer{padding-right:200px;}

#logoImg{
	position:relative;
    float:right;
    min-height:15px;
	max-height:65px;
    margin-right:10px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */   
}

#logoImg:hover{
	/*
	background-image:url('../images/tile.png');
	
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px; 
	-khtml-border-radius: 20px; 
	*/
	
	/*same as others*/
	opacity: .9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    
	
}



body{
	background-image:url('../images/tile.png');
	background-repeat: repeat;
	background-attachment: fixed;
}

.mainContainer{
	position:relative;
	top:auto;
	left:auto;
	right:auto;
	width:100%;
	
}

.menuBar{
	position:fixed;
	width:100%;
	height: 55px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	background: #FFFFFF;
	/*background-color: #5bd4ac;*/
	background-image:url('../images/invertTile.png');
	background-repeat: repeat;
	background-attachment: fixed;
	border-bottom: 10px #efe8e3 solid;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #efe8e3;	
	/*opacity:0.6;*/
}


.bodyContent{
	position:relative;
	top:100px;
	margin-left:200px;
	margin-right:200px;
	background-color:#efe8e3;
	padding-top:45px;
	padding-left:45px;
	padding-right:45px;
	padding-bottom:25px;
	border-color:#2aa198;
	border-width:3px;
	border-style:dashed;

	z-index:-1;
	opacity:1;
	-moz-box-shadow:    -20px 0px 0px 0px #2aa198;
  	-webkit-box-shadow: -20px 0px 0px 0px #2aa198;
 	 box-shadow:         -20px 0px 0px 0px #2aa198;
}

.bannerHeading{
	position:relative;
	background-image:url('../images/invertTile.png');
	background-repeat: repeat;
	background-attachment: fixed;
	text-align:right;
	font-size:36px;
	letter-spacing:5px;
	word-spacing:44px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:30px;
	padding-left:30px;
	margin-left:00px;
	margin-right:00px;
	
	-moz-box-shadow:    -2px 0px 0px 0px #dc322f;
  	-webkit-box-shadow: -2px 0px 0px 0px #dc322f;
 	 box-shadow:         -2px 0px 0px 0px #dc322f;
}

.footer{
	position:relative;
	background-image:url('../images/invertTile.png');
	background-repeat: repeat;
	background-attachment: fixed;
	text-align:right;
	padding-top:30px;
	padding-bottom:25px;
	padding-left:30px:
	margin-left:00px;
	margin-right:00px;
	
	
}

