* {
   margin: 0px;
   padding: 0px;
}

body{
	background-image:url('../images/tile.png');
	background-repeat: repeat;
	background-attachment: fixed;
}

.mainContainer{
	position:relative;
	top:auto;
	left:auto;
	right:auto;
	width:100%;
	
}

.menuBar{
	position:fixed;
	width:100%;
	height: 35px;
	padding: 10px 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background: #AAA;
	background-color: #AAA;
	border-bottom: 5px #08c solid;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #b0e0e6;	
	opacity:0.6;
}


.bodyContent{
	position:relative;
	top:80px;
	margin-left:45px;
	margin-right:45px;
	background-color:#AAAAAA;
	padding-top:45px;
	padding-left:45px;
	padding-right:45px;
	padding-bottom:25px;
	z-index:-1;
	opacity:0.8;
	-moz-box-shadow:    -10px 20px 0px 0px #226c7c;
  	-webkit-box-shadow: -10px 20px 0px 0px #226c7c;
 	 box-shadow:         -10px 20px 0px 0px #226c7c;
}

.footer{
	position:relative;
	float:center;
	text-align:right;
	padding-top:30px;
	padding-bottom:25px;
	margin-left:300px;
	margin-right:300px;
	background: #FFF;
	-moz-box-shadow:    -10px 20px 0px 0px #226c7c;
  	-webkit-box-shadow: -10px 20px 0px 0px #226c7c;
 	 box-shadow:         -10px 20px 0px 0px #226c7c;
}

