---
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		{% include head_data.html %}
		<title>{{ page.title }}</title>	
	</head>
	<body onload="navHighlightSet()">
		<div id="mainContainer">	
			{% include header.html %}
			{% include full_post_body_content.html %}	
			{% include social_buttons.html %}
			
			{% comment %}
			<!-- DOESN'T WORK WITH POST CATEGORIES YET.
			//{% if page.previous.url == nil %}
			//	{% include sides_right.html %}
			//{% elsif page.next.url == nil %}
			//	{% include sides_left.html %}
			//{% else %}
			//	{% include sides.html %}
			//{% endif %}
			-->
			{% endcomment %}
			{% include footer.html %}
					
		</div>	
		
	</body>
</html>
